@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kalame';
    src: url('/fonts/KalamehWeb/KalamehWeb-Black.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'kalame';
    src: url('/fonts/KalamehWeb/KalamehWeb-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'kalame';
    src: url('/fonts/KalamehWeb/KalamehWeb-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'kalame';
    src: url('/fonts/KalamehWeb/KalamehWeb-Thin.woff2') format('woff2');
    font-weight: 100;
}